# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Streamlit local config
.streamlit/secrets.toml

# IDE & Editor settings
.vscode/
.idea/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db
